@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&Nunito:wght@300&family=Titillium+Web:wght@400&family=Poppins:wght@200&family=Raleway:wght@200&family=Roboto+Mono:wght@300&display=swap');

*{
    -webkit-print-color-adjust: exact;
    margin: 0; padding: 0;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    transition: 0.2s;
    text-decoration: none;
    color: white;
}.active{
    color: #ffb86c;
}a:hover{
    color: #f1fa8c;
}
price{
    font-family: 'Roboto Mono', monospace;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    color: white;
    margin-top: 30px;
    background: black;
}

.nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    background-color: black;
}

#logo{
    display: flex;
    align-items: center;
}
#mug{
    width: 40px;
    filter: drop-shadow(2px 1px 0 white) 
            drop-shadow(-1px -1px 0 white)
            drop-shadow(-1px 1px 0 white);
}#title{
    font-family: 'Hanalei Fill', cursive;
    font-size: 30px;
    color: white;
}

#search_form > div{
    position: relative;
}

#search_form{
    transform: translateY(-1px);
}
.searchbox{
    font-family: monospace;
    padding: 12px 19px;
    border-radius: 40px;
    border: none;
    width: 40vw;
}
.searchbox::placeholder{
    color: grey;
}
.searchbox:focus, .searchbtn:focus{
    outline: none;
}

.searchbtn{
    position: fixed;
    right: 2px;
    padding: 12px;
    border-radius: 0px 40px 40px 0px;
    background: none;
    border: none;
}.searchbtn:hover{
    cursor: pointer;
    fill: black;
}.searchbtn > svg:hover{
    fill: black;
}
/*-----------------MENU BAR-----------------*/
#menu_area{
    height: auto;
}#menu_area:hover{
    cursor: pointer;
}

.menuBtn + .menuBtn{
    margin-top: 7px;
}
.menuBtn{
    transition: 0.3s;
    right: 20px;
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background: white;
}.closemenu{
    transform: translateY(4px)
                rotate(-45deg);
}.closemenu + .menuBtn{
    transform: translateY(-6px)
                rotate(45deg);
}.closemenu + .menuBtn + .menuBtn{
    display: none;
}

#menu{
    z-index: 2;
    position: absolute;
    right: -15rem;
    visibility: hidden;
    animation: menu_close forwards ease 0.2s;
}#menu.active{
    animation: menu_appear forwards ease 0.2s;
}

#menu_ul{
    padding: 30px;
    width: 10rem;
    background: black;
    text-align: center;
}
.menu_item{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    list-style: none;
    width: 100%;
    color: white;
}
.menu_item > ul > li + li {
    margin-top: 10px;
}
/*-------------------------------------*/

.category{
    padding: 12px 40px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
/*------------PRODUCTS-----------------*/
.splide{
    padding: 0 40px;
}
.splide__pagination__page{
    display: none !important;
}
.splide__slide{
    background-image: linear-gradient(180deg, rgba(255,255,255, 0.2), rgba(220,220,220, 0.8));
    text-align: center;
    padding: 15px;
}
.product_name{
    font-family: 'Nunito', sans-serif;
    margin: 15px 0 10px 0;
}
.product_pic{
    width: 150px;
    transition: 0.2s;
}.product_pic:hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 5px black);
}.border{
    position: absolute;
    transition: 0.2s;
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.1s;
}.border:nth-child(1){
    left: 0;
    top: 0;
}.splide__slide:hover .border:nth-child(1){
    width: 100%;
}.border:nth-child(2){
    transition-delay: 0.5s;
    right: 0;
    bottom: 0;
}.splide__slide:hover .border:nth-child(2){
    width: 100%;
}.border:nth-child(3){
    width: 2px;
    height: 0;
    transition-delay: 0.3s;
    right: 0;
    top: 0;
}.splide__slide:hover .border:nth-child(3){
    height: 100%;
}.border:nth-child(4){
    width: 2px;
    height: 0;
    transition-delay: 0.7s;
    left: 0;
    bottom: 0;
}.splide__slide:hover .border:nth-child(4){
    height: 100%;
}

button{
    background: none;
    border: none;
}button:focus{
    outline: none;
}
.buy_btn{
    font-family: 'Titillium Web', sans-serif;
    padding: 2px 25px;
    border: solid black 1px;
    transition: 0.2s;
}.buy_btn:hover{
    cursor: pointer;
    color: white;
    border-style: solid;
    background-color: black;
}
.buy_area{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}
.cart{
    padding: 2px;
}
.cart svg{
    transition: 0.2s;
}.cart:hover svg{
    cursor: pointer;
    fill: #44475a;

}

/*------------FOOTER----------------*/
.info{
    font-family: 'Poppins', sans-serif;
}
#footer_fixed{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
/*----------------------------------*/
#contact_form{
    background: white;
    width: 60%;
    margin: auto;
}
#contact_input{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}#contact_input > input{
    width: 45%;
}
.contact_text{
    width: 100%;
}.contact_text + .contact_text{
    margin-top: 15px;
}#contact_form input{
    padding: 10px 14px;
    border: solid black 1px;
    border-radius: 50px;
    transition: 0.2s;
}#contact_form input:focus{
    outline: none;
    transform: scale(1.05);
    box-shadow: 5px 5px 3px black;
}#message{
    visibility: hidden;
    padding: 15px;
    border: solid black 1px;
    border-radius: 20px;
    resize: none;
    overflow-x: hidden;
    height: 300px;
    transition: 0.2s;
}#message:focus{
    outline: none;
    box-shadow: 5px 5px 3px black;
}
@keyframes menu_appear{
    0%{
        right: -15rem;
    }
    100%{
        right: 0;
    }
}
@keyframes menu_close{
    0%{
        right: 0rem;
    }
    100%{
        right: -15rem;
    }
}

@media only screen and (max-width: 500px){
    #logo{
        margin: auto;
        grid-area: area;
    }
    #search_form{
        grid-area: area2;
        margin-top: 10px;
        margin-right: 10px;
    }.searchbox{width: 100%;}
    #menu_area{
        margin-top: 10px;
    }
    .nav{
        display: grid;
        grid-template-areas: 'area area area area'
                            'area2 area2 area2 area3';
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contact_form{
        width: 90%;
    }footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    }
    
}